langchain
langchain-community
langchain-core
langchain-groq
langgraph
streamlit
cassio
wikipedia
huggingface-hub
python-dotenv
typing-extensions
sentence-transformers
# Add these required dependencies for Cassandra
cassandra-driver
gevent